<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2017 Baidu, Inc. All Rights Reserved.
  -->
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="system"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/gae.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/gae.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="search_log_appender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/search.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/search.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 异步输出 -->
    <appender name ="async_file" class= "ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="system"/>
    </appender>

    <!-- 检索日志 -->
    <logger name="search_logger" level="info" additivity="false">
        <appender-ref ref="search_log_appender"/>
    </logger>

    <logger name="org.fh.gae" level="info" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="system"/>
    </logger>

    <logger name="org.springframework.boot" level="error" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="system"/>
    </logger>

    <root level="error">
        <appender-ref ref="system"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>